[submodule "src/1.21"]
	path = src/1.21
	url = https://github.com/CZMfromFenway/Missile-Wars-Fusion-for-1.21.git
[submodule "src/1.21.5-1.21.8"]
	path = src/1.21.5-1.21.8
	url = https://github.com/CZMfromFenway/Missile-Wars-Fusion-for-1.21.8.git
